{
    "protocol": "https",
    "server": "exvius.gamepedia.com",
    "path": "/",
    "debug": false,
    "username": "",             
    "password": "",             
    "domain" : "auth.bar.net",     
    "userAgent": "",      
    "concurrency": 5               
}